.header {
    background: $dark-blue;
    border-bottom: 0.35rem solid red;
}

.header__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $s-size 0;
}
.header__title {
    color: white;
    text-decoration: none;
    h1 {
        margin: 0;
    }
}