.input-items {
    display: flex;
    flex-direction: column;
    margin-bottom: $m-size;

    @media (min-width: $desktop-breakpoint) {
        flex-direction: row;
        margin-bottom: $l-size;
    }
}

.input-items__item {
    margin-bottom: $s-size;

    @media (min-width: $desktop-breakpoint) {
        margin: 0 $s-size 0 0;
    }
}

.input-items__text {
    border: 1px solid #cacccd;
    height: 50px;
    font-weight: 300;
    padding: $s-size;
    font-size: $font-size-large;
    //width: 20rem;
}

.input-items__select {
    @extend .input-items__text;
    //width: 10rem;
}

.input-items__textarea {
    @extend .input-items__text;
    height: 10rem;
}